<div class="leaflet-container" style="min-height: 800px;" 
     data-controller="map" 
     data-map-target="placeholder"
     data-polygon-points="<%= @digsite_info[:polygon_points].to_json %>"
     data-centroid="<%= @digsite_info[:centroid].to_json %>">
</div>
